*{
    margin: 0;
}
body{
    color: white;
    background-color: #90B8F8;
}
.nav{
    background-color: rgb(0, 0, 0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.todo-head h1{
    font-size: 60px;
    font-weight: 600;
}
.nav-button{
    display: flex;
    gap: 20px;
}
.nav-button button{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(211, 191, 191);
    outline: none;
    font-size: 16px;
}
.nav-button button:hover{
    background-color: rgb(214, 222, 229);
}
.search input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(207, 169, 169);
    outline: none;
    font-size: 16px;
}
.search input:focus{
    border-color: #2f7ed2;
    box-shadow: 0 0 8px #2c79cb;
    background-color: rgb(214, 222, 229);
}
.list-container {
    display: flex;
    flex-direction: column;
}
.list-header{
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    font-size: 1.3em;
    transition: all 100ms linear;
    background-color: #2c79cb;
}
.form-appear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2c79cb;
    border-radius: 10px;
}
.form .form-content {
    display: flex;
    align-items: center;
    padding: 20px;
}
.form .form-content label {
    min-width: 10em;
}
.form .form-content input{
    width: 100%;
}
.form .form-content select{
    width: 100%;
}
.add-task button{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(211, 191, 191);
    outline: none;
    font-size: 16px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.add-task button:hover{
    background-color: rgb(151, 185, 216);
    color: white;
}
i{
    cursor: pointer;
}
#close-i{
    padding: 0;
    justify-content: flex-end;
    padding: 1em 1em 0 0;
}
form .form-content input,select,textarea{
    border-radius: 5px;
    height: 35px;
    border: none;
}
form .form-content input:focus,select:focus,textarea:focus{
    background-color: #90B8F8;
}

/* display of todos tasks */
.element div {
    flex-grow: 1;
    text-align: center;
    min-width: 12vw;
    max-width: 12vw;
}
.element{
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
    transition: all 100ms linear;
}
.done{
    background-color: gray;
    color: white;
}

/* Media query */

@media (max-width:900px) {
    .nav{
        font-size: 25px;
    }
    .list-header{
        font-size: 15px;
    }
    form .form-content input,select,textarea{
        border-radius: 5px;
        height: 25px;
    }
    .form {
        transform: scale(0.9);
    }
    #id_appear{
        display: none;
    }
    .add-task button{
        padding: 10px;
    }
}
@media (max-width:550px) {
    .nav{
        font-size: 20px;
    }
    .list-header{
        font-size: 12px;
    }
    .form {
        transform: scale(0.8);
    } 
    #created_appear{
        display: none;
    }
    
}
